@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Tilt Warp", cursive;
}

.container {
  height: 100vh;
  background-color: gray;
}

.section {
  height: 100%;
  width: 100%;
  background-image: url(/assets/mountain.jpg);
  background-position: center;
  background-size: cover;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message h1 {
  text-align: center;
  color: #686868;
  font-size: 55px;
  letter-spacing: 5px;
  opacity: 0.5;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(100% - 170px);
}

.main {
  font-family: Arial;
  width: 500px;
  margin-bottom: 100px;
}

h3 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.slider {
  width: 500px;
}

.multiple-items {
  gap: 10px;
}

.multiple-items .one {
  min-height: 200px;
  background-color: gray;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.slick-dots li {
  color: white;
}

.slick-active {
  color: black !important;
  scale: 1.1;
}

.slick-dots li button {
  display: none;
}

@media (max-width: 430px) {
  .message h1 {
    font-size: 35px;
  }

  .slider {
    width: 300px;
  }

  .main {
    display: flex;
    justify-content: center;
  }
}
